.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  width: 100%;
  background: #fafafa;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 16px; /* стандартные боковые отступы */
}

@media (max-width: 600px) {
  .inner {
    padding: 20px 12px;
  }
}
